<!DOCTYPE html>
<html>
  <head>
    <title>벌써 집에 간다고? 아니 벌써 집에 간다고?</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>벌써 집에 간다고?</h1>
    <p>나 완전 진심이야.</p>
  </body>
</html>
