<!DOCTYPE html>
<html>
  <head>
    <title>Login | GANMACK FILM FESTIVAL</title>
    <link rel='stylesheet' href='/stylesheets/font.css' />
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  
  <body class="ganmack_login container">
    <h1>
      <img src="/img/login_logo.svg" alt="Ganmack Film">
    </h1>
    <section>
      <form action="post">
        <input type="text" id="user_id" placeholder="id">
        <input type="password" id="user_pw" placeholder="pw">
      </form>

      <button type="submit" onclick="login();">Login</button>
    </section>
  </body>
  
  <script>
    function login(){
      let id = document.getElementById('user_id').value;
      let pw = document.getElementById('user_pw').value;

      if(id == ''){
        alert('아이디를 입력해주세요');
        document.getElementById('user_id').focus().setSelectionRange(0, 999);
        return false;
      }

      if(pw == ''){
        alert('비밀번호를 입력해주세요');
        document.getElementById('user_pw').focus().setSelectionRange(0, 999);
        return false;
      }

      $.ajax({
        url: '/login',
        type: 'POST',
        dataType: 'JSON',
        data: {id:id, password:pw},
        success: function(data){
          if(data.status){
            location.reload();
          }
        }
      });
    }

  </script>
</html>
