<!DOCTYPE html>
<html>
  <head>
    <title>GANMACK FILM FESTIVAL</title>
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Vendor 부트스트랩 CSS -->
    <!-- <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/vendor/magnific-popup/magnific-popup.min.css">

    <link rel='stylesheet' href='/stylesheets/font.css' />
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
  </head>
  
  <body class="ganmack">
    <header>
      <div class="container">
        <h1><img src="/img/logo.svg" alt=""></h1>
        <ul>
          <li class="on"><a href="#">About</a></li>
          <li><a href="#">Nominees</a></li>
          <li><a href="#">Commu</a></li>
          <li><a href="#">Alcohol</a></li>
        </ul>
      </div>
    </header>
    <div>
      <section class="main_banner">
        <div class="bg"></div>
        <div class="container">
          <h2>주종은<br />우리의 삶의 방식이다</h2>
          <p>간맥영화제는 어떠한 술도 존중합니다</p>
        </div>
      </section>
      <section class="posters container tab-pane">
        <em>Film Festival</em>
        <h2>권위있는 간맥영화제의<br />쟁쟁한 수상 후보들을 만나보세요</h2>
        <div class="swiper-container lightbox" data-plugin-options="{'delegate': 'a', 'type': 'image', 'gallery': {'enabled': true}}">
          <ul class="swiper-wrapper zoom-gallery">
            <li class="swiper-slide">
              <a href="/img/poster1.jpg" title="Mine t.Type 포스터">
                <img src="/img/poster1.jpg" alt="Mine t.Type">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/img/poster2.jpg" title="새사람 B 컷">
                <img src="/img/poster2.jpg" alt="new person B cut">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/img/poster3.jpg" title="새사람 메인 포스터">
                <img src="/img/poster3.jpg" alt="new person main">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/img/poster4.png" title="The Beer 어떤 아이 이야기">
                <img src="/img/poster4.png" alt="The Beer">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/img/poster5.jpg" title="새사람 개인포스터 - 김현지">
                <img src="/img/poster5.jpg" alt="new person - hyunji Kim">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/img/poster6.jpg" title="새사람 개인포스터 - 김예은">
                <img src="/img/poster6.jpg" alt="new person - Yeeun Kim">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/img/poster7.jpg" title="새사람 개인포스터 - 노도연">
                <img src="/img/poster7.jpg" alt="new person - doyeon noh">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/img/poster8.jpg" title="새사람 개인포스터 - 강서하">
                <img src="/img/poster8.jpg" alt="new person - seoha kang">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/img/poster9.jpg" title="새사람 개인포스터 - 김가희">
                <img src="/img/poster9.jpg" alt="new person - gahee Kim">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/img/poster10.jpg" title="새사람 개인포스터 - 서민지">
                <img src="/img/poster10.jpg" alt="new person - minji seo">
              </a>
            </li>
            <li class="swiper-slide">
              <a href="/img/poster11.jpg" title="The Messege - 박제된 메세지">
                <img src="/img/poster11.jpg" alt="The Messege">
              </a>
            </li>
          </ul>
        </div>
        </div>
      </section>
      <section class="cummu">
        <div class="commu_bg"></div>
        <div class="container">
          <div>
            <div>
              <em>Community</em>
              <h2>영화에 대한<br />여러분의 의견을<br />들려주세요</h2>
            </div>
            <div class="form">
              <input type="text" id="content" placeholder="내용을 입력해주세요" />
              <div><span>BY.</span><input type="text" id="nickname" placeholder="닉네임을 입력해주세요"><span onclick="aboutGanmack()">등록</em></div>
            </div>
          </div>
          <div class="swiper-container">
            <ul class="swiper-wrapper">
              <% for(var i=0; i<list.length;i++){ %>
                <li class="swiper-slide">
                  <a>
                    <em>BY. <%= list[i].nickname %></em>
                    <p><%= list[i].content %></p>
                  </a>
                </li>
              <% } %>
            </ul>
            <span>More</span>
          </div>
        </div>
      </section>
      <section class="container sub_menu">
        <div>
          <div class="alcohol_bg"></div>
          <div>
            <a href="#">
              <em>Alcohol</em>
              <h2>당신의 간맥타임을<br />소개해주세요</h2>
              <p>Alcohol 바로가기</p>
            </a>
          </div>
        </div>
        <div>
          <div>
            <a href="#">
              <em>Alcohol Record</em>
              <h2>주정 기록들을 <br />보실 수 있습니다</h2>
            </a>
          </div>
          <div>
            <a href="#">
              <em>Alcohol Review</em>
              <h2>주류 리뷰를 <br />보실 수 있습니다</h2>
            </a>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div class="container">
        <div class="info">
          <h3>
            <img src="/img/logo.svg" alt="">
          </h3>
          <div>
            <div>
              <p>Planner. Minji Seo</p>
              <p>Designer. Gahee Kim / Yeeun Kim</p>
              <p>Developer. Seoha Kang / Hyunji Kim</p>
            </div> 
            <p>And. Doyeon Noh</p>
          </div>
        </div>
        <div class="copy">
          <% let ty = new Date().getFullYear(); %>
          <p>Copyright <span id="this_year"><%- ty %></span> GANMACK Film Life</p>
        </div>
      </div>
    </footer>
    <div class="top" onclick="scTop()">
      <p>TOP</p>
    </div>

    <!-- Vendor -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendor/swiper-4.5.1/dist/js/swiper.min.js"></script>
    <script src="/vendor/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <script>
      $(document).ready(function() {
        $('.zoom-gallery').magnificPopup({
          delegate: 'a',
          type: 'image',
          closeOnContentClick: false,
          closeBtnInside: false,
          mainClass: 'mfp-with-zoom mfp-img-mobile',
          image: {
            verticalFit: true,
            titleSrc: function(item) {
              return item.el.attr('title');
            }
          },
          gallery: {
            enabled: true
          },
          zoom: {
            enabled: true,
            duration: 300,
            opener: function(element) {
              return element.find('img');
            }
          }
          
        });

        new Swiper('.swiper-container', {
          slidesPerView: 'auto',
        });
      });

      function aboutGanmack(){
        let nickname = $('#nickname').val();
        let content = $('#content').val();

        $.ajax({
          url: '/aboutGanmack',
          type: 'POST',
          dataType: 'JSON',
          data: {content:content,nickname:nickname},
          success: function(data){
            if(data.status){
              alert("댓글이 등록되었습니다.");
              location.reload();
            }
          }
        });
      }

      /* header Active when scroll */
      $(window).scroll(function(){
        let st = $(this).scrollTop();

        if(st > 0){
          $('header').addClass('active');
          $('header h1 img').attr('src','/img/logo_b.svg');
        }else{
          $('header').removeClass('active');
          $('header h1 img').attr('src','/img/logo.svg');
        }
      });

      /* header Active when document ready */
      let st = $(this).scrollTop();

      if(st > 0){
        $('header').addClass('active');
        $('header h1 img').attr('src','/img/logo_b.svg');
      }else{
        $('header').removeClass('active');
        $('header h1 img').attr('src','/img/logo.svg');
      }

      /* scroll-top */
      function scTop(){
        $('html, body').stop().animate({scrollTop: '0'}, 1000);
      };  

    </script>
  </body>
</html>
