/* reset */
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,em,img,strong,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,div,span,a,em,p,button,input{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 16px;
  line-height: 1;
  color: #000000;
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
  word-break: keep-all;
  box-sizing: border-box;
  outline: none;
}
ol,ul,li {
  list-style: none;
}

a{color: #000000; text-decoration: none;}

a:hover,
a:active{color: #000000; text-decoration: none;}